/* You can add global styles to this file, and also import other style files */
/* Importación del tema oscuro premium de PrimeNG */
@import "primeng/resources/themes/lara-dark-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";

/* Estilos globales para acoplar la pantalla al modo oscuro */
body {
  margin: 0;
  font-family: var(--font-family, Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif);
  background-color: #0f172a; /* Fondo azul oscuro profundo institucional */
  color: #f8fafc;
}

/* Corrección definitiva para el fondo del modal en los estilos globales */
.cdk-overlay-pane,
.mat-mdc-dialog-container,
.mat-mdc-dialog-surface,
.modal-content,
.dialog-box {
  background-color: #051d38 !important;
  background: #051d38 !important;
}

/* Opcional: Si quieres que el borde del modal combine con el fondo */
.mat-mdc-dialog-surface {
  border: 1px solid #0a2d54 !important;
  border-radius: 8px !important; /* Mantiene las esquinas redondeadas */
}
